<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="gui" class="springtraining.GUI" init-method="showGui"/>

    <bean id="logger" class="springtraining.Logger" init-method="init" destroy-method="close">
        <property name="Gui" ref="gui"/>
    </bean>

    <bean id="record" class="springtraining.Record" scope="prototype"/>

    <bean id="record_generator" class="springtraining.RecordGenerator">
        <lookup-method name="getRecord" bean="record"/>
    </bean>

    <bean id="recordDao" class="springtraining.RecordDao">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="url" value="jdbc:sqlite:database\\trainingbase.db"/>
        <property name="username" value=""/>
        <property name="password" value=""/>
    </bean>

</beans>